body{
  background-image: url("http://www.planwallpaper.com/static/images/824183-green-wallpaper.jpg");
}

h1{
  text-align: center;
}

h3{
  margin-left: 25px;
}

h1,h3{
  color: rgb(255,255,255);
  font-family: serif;
}

p,ol,ul{
  font-family: sans-serif;
}
 p,ul{
   margin-left: 50px;
 }

img{
  height: 150px;
}

.photo{
  text-align: center;
}
